<strong>The Gratest Lottery | Password Recovery</strong>

<p>A password recovery was requested to ({{ email }}).</p>
<p>
    This recovery password link expires in 2 hours.
    To recover your password copy the token below and follow the instructions in
    the TGL app.
</p>

<p>TOKEN: {{ token }}</>